<body class="login">
<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <img class="img-fluid" style="width: 100px;" src="/assets/login-icon.jpg">
        </div>
        <h1 class="text-center head">Login here</h1>
        <form (ngSubmit)="onSubmit()" class="form">

          <mat-form-field class="full-width" appearance="outline">

            <mat-label>Email</mat-label>
            <input [(ngModel)]="credentials.email" name="email" type="text" required matInput>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">

            <mat-label>Password</mat-label>
            <input [(ngModel)]="credentials.password" name="password" required type="password" matInput>
          </mat-form-field>

          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary">Login</button>
            <button style="margin-left: 20px;" type="reset" mat-raised-button color="accent">Reset</button>
          </div>
          <span> New User <a routerLink="/registration">Register</a></span>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
