*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.bg{

  background-image: url('src\assets\login_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  padding-top: 13%;

}
.container h1{
  font-weight: bold;
  font-size: 40px;
  color: rgb(41, 116, 229);
}
